<!-- pills -->
<div class="container pt-2">
  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 mt-5 mb-5">
      <div class="col">
        <div class="card h-100 shadow c1" >
          <img src="assets/indian.jpg" class="card-img-top w-50 logo1" alt="..." >
        
          <div class="card-body ">
            <div class="desc">
            <h5 class="card-title text-center prtitle">Indian</h5>
          
            <p class="card-text text-center"></p>
            <button routerLink="indian" routerLinkActive="active" class="btn btn-sm d-block mx-auto btn1">Click to get recipes</button>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow c2" >
          <img src="assets/italian.jpg" class="card-img-top w-50 logo1" alt="..." >
        
          <div class="card-body">
            <div class="desc">
            <h5 class="card-title text-center prtitle" >Italian</h5>
          
            <p class="card-text text-center"></p>
            <button routerLink="italian" routerLinkActive="active" class="btn btn-sm d-block mx-auto btn2">Click to get recipes</button>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 shadow c3" >
          <img src="assets/american.jpg" class="card-img-top w-50 logo1" alt="..." >
        
          <div class="card-body">
            <div class="desc">
            <h5 class="card-title text-center prtitle" >American</h5>
          
            <p class="card-text text-center"></p>
            <button routerLink="american" routerLinkActive="active" class="btn btn-sm d-block mx-auto btn3">Click to get recipes</button>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>
      <div class="container">
          <router-outlet>
              </router-outlet>
      </div>