<div class="search-box text-center" >
  <input type="text" placeholder=" "  name="productTitle" id="" placeholder="search by recipe name" class="form form-control " [(ngModel)]="searchTerm"><span></span>
</div>
 


<!-- <input type="text" name="productTitle" id="" placeholder="search by recipe name" class="form form-control mt-2" [(ngModel)]="searchTerm"> -->
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1" *ngFor="let obj of recipeObj.results | search:searchTerm">
            <!-- 1st -->
            <div class="col">
        <div class="card w-100 mt-5">
            <div class="card-body" >
                <div class="row">
                    <div class="col-sm-8">
                     <h4 class="card-text text-secondary" >{{obj.name}}</h4>
                     <div class="dropdown p-2" >
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                       Instructions for the recipe
                      </a>
                    
                      <ul class="dropdown-menu p-2" aria-labelledby="dropdownMenuLink">

                        <li *ngFor="let object of obj.instructions ">
                          {{object.display_text}}
                        <hr>
                        </li>
                       
                      </ul>
                    </div>

                   <h6 class="p-2 servings">
                    {{obj.yields}}
                   </h6>
                   <div class="relatedtags p-1">
                   <h5 class="p-1">
                    Related tags:
                  </h5>
                 <h6 *ngFor="let obj2 of obj.tags;let last=last" style="display:inline-block" class="p-1">
                       {{ obj2.display_name }} {{last ? '' : ', '}} 
                 </h6>
                </div>
                <h6 *ngIf="obj['nutrition']?.length>0">
                    {{obj['nutrition']['fiber']}}
                </h6>
                    </div>
                    <div class="col-sm-4">
                      <img src="{{obj.thumbnail_url}}" alt="" width="100%" class="slide-fwd-center">
                   
                           
                    </div>
                </div>
            </div>
        </div>
            </div>
            <!-- 2nd -->
      
        </div>   
    </div>

<script  src="./script.js"></script>