li{
    background-color:aliceblue;
}
a:focus{
    background-color: bisque;
}
active{
    background-color: palevioletred;
    font-weight: bolder;
}
button:focus{
    font-weight: bolder;
}
.card{
    background-color: 
    #F1F5C1 !important;
    margin-left: 70px;
}
.desc{
    background-color: #ecf1ab
}
button{
    background-color: #d8dcad;
    border-radius: 3px;
    border: 1px solid #f1f5c1;
    font-family: 'Tangerine', cursive;
    
}
h5{
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    font-weight: bolder;
}
.active.nav-link{

}

h5{
    font-family: 'Fuggles', cursive !important;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 2px 2px 8px #fa7849;
}