<!-- pills -->
<div class="main">
<div class="container pt-2 " >
  
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 g-4 mt-5 mb-5 p-5 row1">
      <div class="col">
        <div class="card h-100 w-75 shadow">
          <img src="assets\cuisine.jpg" class="card-img-top w-100" alt="..." >
        
          <div class="card-body">
            <div class="desc">
            <h5 class="card-title text-center prtitle" >Cuisine</h5>
          
            <p class="card-text text-center"></p>
            <button routerLink="cuisine" routerLinkActive="active" class="btn btn-sm d-block mx-auto btn1">Click Me</button>
          </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 w-75 shadow" >
          <img src="assets\meals.png" class="card-img-top w-100" alt="..." >
        
          <div class="card-body">
            <div class="desc">
            <h5 class="card-title text-center prtitle" >Meals</h5>
          
            <p class="card-text text-center"></p>
            <button routerLink="meals" routerLinkActive="active" class="btn btn-sm d-block mx-auto btn1">Click Me</button>
          </div>
          </div>
        </div>
      </div>
     
    </div>
    </div>
  </div>
      <div class="container">
          <router-outlet>
              </router-outlet>
      </div>